html {
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- BACKGROUND STYLES --- */
body {
    background-image: url("/media/spaceship-earth_bwjpg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-overlay {
    background: linear-gradient(rgba(0, 0, 133, 0.5), rgba(204, 112, 204, 0.514), rgba(255, 166, 0, 0.507));
}

.main-content-container {
    color: white;
    min-width: 375px;
    max-width: 576px;
    margin: 0 auto;
    padding: 100px 0;
}

/* --- FORM HEADER STYLES --- */
.header-container {
    padding: 15px;
    text-align: center;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    color: white;
    font-size: 4rem;
    letter-spacing: 3px;
    text-shadow: -2px 2px 0 #6affa8;
    margin-bottom: 20px;
}

.form-description {
    margin-bottom: 10px;
}

/* --- GENERAL FORM STYLES --- */
.form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 30px 0;
    background-color: rgba(0, 0, 0, 0.712);
    width: 100%;
    padding: 15px;
    border-radius: 7px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

p {
    line-height: 1.4;
}

/* --- USER INFO SECTION STYLES ---*/
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info label {
    display: block;
}

.user-info input {
    width: 100%;
    padding: .6em 1em;
    margin: 10px 0 25px 0;
    border: 4px solid transparent;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s;
}

.user-info input:focus {
    border: 4px solid #6affa8;
}

.user-info label:last-of-type {
    margin-bottom: 0;
}


/* --- "FAVORITE AREA" SECTION STYLES --- */
.fav-area-radio { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65px;
    border: none;
}

.fav-area-option {
    margin-right: 20px;
}

.fav-area-option input:hover, .fav-area-option label:hover  {
    color: #6affa8;
    cursor: pointer;
}

/* --- "FAVORITE PAVILION" SECTION STYLES --- */
.pavilion-select {
    width: 100%;
    margin: 10px 0;
    padding: .6em 1em;
    border: 4px solid transparent;
    border-radius: 4px;
    transition: all 0.2s;
    outline: none;
}

.pavilion-select:focus {
    border: 4px solid #6affa8;
}


/* --- "FAVORITE ATTRACTIONS" SECTION STYLES --- */
.fav-attractions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 15px 0;
    border: none;
}

.fav-attractions p {
    font-weight: bold;
    margin-bottom: 9px;
}

.attraction-option {
    margin: 6px 0;
    font-size: 1rem;
}

.attraction-option input:hover, 
.attraction-option label:hover {
    color: #6affa8;
    cursor: pointer;
}

.fav-attractions label {
    margin-left: 5px;
}

/* --- USER COMMENT SECTION STYLES --- */
.user-comment textarea {
    line-height: 1.4;
    width: 100%;
    min-height: 150px;
    resize: vertical;
    margin-top: 8px;
    padding: .6em 1em;
    outline: none;
    border: 4px solid transparent;
    border-radius: 4px;
    transition: all 0.2s;
}

.user-comment textarea:focus {
    border: 4px solid #6affa8;
}

button {
    background-color: #6affa8;
    border: 4px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    padding: .6em 0;
    outline: none;
    transition: all 0.2s;
}

button:hover {
    background-color: #60e497;
    cursor: pointer;
}

button:focus {
    border: 4px solid #4eb87a;
}


/* --- STYLES FOR ALL SCREENS 576px AND ABOVE --- */
@media (min-width: 576px) {
    
    .fav-attractions {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "legend legend"
            "future showcase";
        grid-gap: 15px 0;
    }

    .fav-attractions-legend {
        grid-area: legend;
    }
}