html {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-img {
    width: 100%;
    height: 100%;
    background-image: url(/media/1_epcot_spaceship_earth_2010a.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(102, 0, 116, 0.664);
}

.main-content-container {
    margin: 0 auto;
    width: 100vw;
    min-width: 375px;
    max-width: 576px;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 30px 0;
}

.header-container {
    padding: 15px;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.473);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-gap: 30px 0;
    padding: 15px;
    border-radius: 7px;
}

h1 {
    margin-bottom: 20px;
}

p {
    line-height: 1.4;
}

input, textarea, select, button {
    border: 1px solid transparent;
    border-radius: 4px;
}

.form-description {
    margin-bottom: 10px;
}

/* --- USER INFO SECTION STYLES ---*/
.user-info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info label {
    display: block;
}

.user-info input {
    font-size: 1rem;
    width: 100%;
    padding: .6em 1em;
    margin-top: 10px;
    margin-bottom: 25px;
}

.user-info label:last-of-type {
    margin-bottom: 0;
}


/* --- "FAVORITE AREA" SECTION STYLES --- */
.fav-area-radio {
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
}

.fav-area-option {
    margin-right: 20px;
    font-size: .9rem;
}

/* --- "FAVORITE PAVILION" SECTION STYLES --- */
.pavilion-select {
    margin-top: 10px;
    font-size: .9rem;
    width: 100%;
    padding: .6em 1em;
}


/* --- "FAVORITE ATTRACTIONS" SECTION STYLES --- */
.fav-attractions {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 15px 0;
}

.fav-attractions p {
    font-weight: bold;
    margin-bottom: 9px;
}

.attraction-option {
    margin: 6px 0;
    font-size: .9rem;
}

.fav-attractions label {
    margin-left: 5px;
}

/* --- USER COMMENT SECTION STYLES --- */
.user-comment textarea {
    width: 100%;
    max-width: 100%;
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    padding: .6em 1em;
}

button {
    font-size: 1rem;
    padding: .6em 0;
    background-color: #ff53f4;
    font-weight: bold;
}

button:hover {
    background-color: #ff00ee;
    cursor: pointer;
}



@media (min-width: 576px) {
    
    .fav-attractions {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "legend legend"
            "future showcase";
        grid-gap: 15px 0;
    }

    .fav-attractions-legend {
        grid-area: legend;
    }
}